 <!-- footer section  -->

 <div class="footer">
     <% if(auth !="logged" ){ %>
     <a href="/register"><button class="btn">Register</button></a>
     <% } else { %>
     &nbsp;
     <!-- <a href=""><button>Apply Now</button></a> -->
     <% } %>
     <div class="footer-links">
         <div class="footer-link">
             <a href="#">Contact US</a>
             <a href="#">Request a Call Back</a>
             <a href="#">T&C</a>
             <a href="#">Privacy</a>
         </div>

     </div>
     created by <a href="#">Aishwarya</a> | all rights reserved
 </div>